name: build-deb

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Install Varnish
      run: |
        sudo apt-get update
        sudo apt-get install -y varnish libvarnishapi-dev

    - name: Install cargo-deb
      run: cargo install cargo-deb

    - name: Build Debian package
      run: cargo deb

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: vmod-lambda-${{ matrix.os }}.deb
        path: target/debian/*.deb
